img{
    width: 16px;
    height: 16px;
}
p{
    margin-top: 10px !important;
    padding-left: 10px;
    background: pink;
}
ul{
    list-style: none;
    margin-left: -30px;
}
span{
    text-align: left;
}
th,td{
    border: 1px solid rgb(169, 169, 169);
    border-collapse: collapse;
    padding-left: 6px !important;
    padding-right: 6px !important;
}
th{
    background: #DFDFDF;
}
input:focus,input{
    outline: none;
    border: none;
    border-bottom: 1px  inset #c4c4c4;
    border-bottom-style: ridge;
}
.creat{
    border: 2px outset buttonface;
}
.manu{
    width: 100%;
    height: auto;
    padding-bottom: 5px;
}
.db_resurs{
    border: 1px solid rgb(169, 169, 169);
    width: 100%;
    height: 620px;
    float: left;
    overflow-y: scroll;
}
.queries{
    width: 100%;
    height: 450px;
    float: left;
}
.query_result{
    border: 1px solid rgb(169, 169, 169);
    width: 99%;
    height: 170px;
    float: left;
}
.result{
    display: none;
    width: 100%;
    height: 142px;
    background: red;
    overflow-y: scroll;
}
.data{
    display: none;
    width: 100%;
    height: 142px;
    overflow-y: scroll;
}
.info{
    display: none;
    width: 100%;
    height: 142px;
    overflow-y: scroll;
}
.plus{
    width: 13px;
    height: 13px;
}
.centr{
    padding: .3em;
    margin: .1em;
    vertical-align: top;
    text-shadow: 0 1px 0 #fff;
}
.auto{
    width: 100px;
    margin:0 auto;
}
.left{
    float: left;
}
.creatTb{
    display: none;
    position: absolute;
    left: 2%;
    top: 1%;
}
.inline,.inline>li{
    display: inline-block;
}
.tbname,.fortb{
    display: none;
}
#query{
    width: 98%;
    height: 423px;
    margin-bottom: -4px;
    font-family: monospace;
    font-size: 12px;
}
